.header-wrap
  header
    nav.site-nav
      ul
        li: a(href="#hello") Hello
        li: a(href="#about") About
        li: a(href="#projects") Projects
        li: a(href="#contact") Contact
        
    .mobile-nav-toggle
      span
  
