section.projects-wrap
  #project-information
    .title showProjects(
      span.name dylan
      | )
      span.blinking-cursor |
    #twitter.hover-scale.image-block
      img(src="assets/img/twitterstudy.png")
    //- #nothing.hover-scale.image-block
