@import "bootstrap";
@import "syntax";

$mobile-box: 200px;

body {
    background: white;
}

.about{
    width: 70%;
    margin: auto;
}

.feed{
    padding: 10px;
    overflow: auto;
    height: 100vh;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
}
@media (max-width: 768px){
    .about{
        height: $mobile-box;
    }
    .feed{
        height: calc(100vh - $mobile-box);
    }
}

